@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: antiquewhite;
    margin: auto;
}

.nav {
    margin-right: 15px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.nav li {
    margin-left: 18px;
    padding: 10px;
    border-radius: 25px;
}

.nav li a {
    text-decoration: none;
}

.nav li:hover {
    background-color: burlywood;
    transition: 0.8s;
    cursor: pointer;
}

.logo {
    align-self: center;
    margin-left: 15px;
}

.jumbotron {
    position: relative;
}


.jumbotron h2 {
    font-size: 90px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 250px;
    margin-left: 100px;
}

.jumbotron h5 {
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
    margin-top: 340px;
    margin-left: 100px;
}

.image-jumbo {
    width: 100%;
    min-height: 650px;
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-jumbo {
    position: absolute;
    color: burlywood;
    background-color: brown;
    border: none;
    border-radius: 25px;
    top: 0;
    left: 0;
    margin-top: 390px;
    margin-left: 100px;
    padding: 15px;

}

.btn-jumbo:hover {
    background-color: azure;
    color: darkgrey;
    transition: 1s;
    cursor: pointer;
}

#hamburgerButtonOpen {
    display: none;

}

#hamburgerButtonClose {
    display: none;
}

footer {
    display: flex;
    padding: 10px;
}

.opening {
    padding: 55px;
    height: 300px;
    background-size: cover;
    background-image: url('/images/bg-grid.png');
}

.opening h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.opening h3 {
    font-size: 18px;
    text-align: center;
}

.products {
    background-color: beige;
    padding: 10px;
}

.products h2 {
    text-align: center;
    text-decoration: underline;
}

.our-products {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-products img {
    width: 210px;
    height: 210px;
}

.product {
    margin: 55px;
    background-color: coral;
    padding: 25px;
    border-radius: 15px;
}

.product h3 {
    text-align: center;
}


.btn-product {
    color: burlywood;
    background-color: brown;
    border: none;
    border-radius: 25px;
    padding: 10px;

}

.btn-p {
    text-align: center;
    margin-top: 25px;
}

.product-desc {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 45px;
    background-image: url('images/bg-grid2.png');
    background-repeat: no-repeat;
}

.product-desc h3 {
    font-size: 30px;
    text-decoration: underline;
}

.product-desc h5 {
    font-size: 15px;
}


.image-desc {
    width: 300px;
    height: 300px;
    background-image: url('images/photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    flex: 40%;
}

.text-desc {
    flex: 60%;
}

.footer {
    background-color: beige;
    display: flex;
    flex-direction: row;
}

.brand {
    text-align: center;
    padding: 35px;
}

.contact {
    margin: auto;
}

.copy {
    text-align: center;
    margin: 15px;

}

@media screen and (max-width: 800px) {
    .nav {
        display: none;
    }

    #hamburgerButtonOpen {
        display: block;
        background-color: bisque;
        border: none;
        margin: 10px;
    }

    #hamburgerButtonClose {
        background-color: bisque;
        border: none;
        margin: 10px;
    }

    .logo img {
        display: none;
    }

    .image-jumbo {
        background-size: contain;
        min-height: 250px;
    }

    .jumbotron h2 {
        font-size: 60px;
        margin-top: 50px;
        margin-left: 30px;
    }

    .jumbotron h5 {
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 0;
        margin-top: 115px;
        margin-left: 30px;
    }

    .btn-jumbo {
        position: absolute;
        color: burlywood;
        background-color: brown;
        border: none;
        border-radius: 25px;
        top: 0;
        left: 0;
        margin-top: 145px;
        margin-left: 30px;
        padding: 15px;
    }

    .opening h1 {
        font-size: 18px;
    }
    .opening h3 {
        font-size: 12px;
    }


    .our-products {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }


}